<html>
<style>
p.Success {
  color: green;
}
p.Failure {
  color: red;
}

</style>
<body>
  <h1>Grouped build status</h1>
  <ul>
  {{ range $name, $projects := .Projects }}
     <li>
     <h2><a name="{{ $name }}">{{ $name }}</h2>
     <ul>
     {{ range  $projects }}
         {{ if eq $.StatusFilter .LastBuildStatus "" }}
            <li><p class="{{ .LastBuildStatus  }}">{{ .Name }}
                <a target="_blank" href="{{ .WebURL }}">#{{ .LastBuildLabel }} - ({{ .LastBuildStatus }})</a>
                {{ if eq .LastBuildStatus "Failure" }}
                    <a target="_blank" href="http://localhost:8080/claim/{{ .Name }}/claim?comment=&user=Anonymous">CLAIM</a>
                {{ end }}
                </p>
            </li>
         {{ end }}
      {{ end }}
    </ul>
   </li>
  {{ end }}
</ul>
</body>
</html>
